RewriteEngine On

# Handle Angular and React Router
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# Handle PHP API routes
RewriteRule ^(.*)$ index.php [QSA,L]